body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiAutocomplete-popper {
  z-index: 1540 !important;
}

.MuiDialog-paper {
  max-width: 80% !important;
}

.their-accounts {
  background-color: #E8F4FF;
}

.file-selection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dx-datagrid .dx-datagrid-table .dx-header-row > td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dx-datagrid .dx-row > td {
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
}

.auth-page-link {
  color: #1976D2;
}

.dx-pager .dx-page-sizes .dx-selection, .dx-pager .dx-pages .dx-selection {
  font-weight: 500;
  background-color: #1976D2;
  color: #fff;
}

.selected-file-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column-img {
  height: 30%;
  width: 50%;
}

.profile-info-text {
  margin: 0.75rem 0 !important;
  /* padding-left: 2rem; */
}